@use "../abstracts" as *;
.skill-card {
  user-select: none;
  max-width: 300px;
  margin: 5rem auto;
  border: 1px solid #ffffff22;
  background-color: $white;
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;

  overflow: hidden;
  transition: 0.5s all;
  hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
  }
  ins {
    text-decoration: none;
  }
  .main {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
    .token-image {
      border-radius: 0.5rem;
      max-width: 100%;
      height: 250px;
      object-fit: contain;
    }

    .token-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.1);
  }
}
