@use "../abstracts/" as *;
.projects-container {
  background-color: $black;
  min-height: 100vh;
}

.project-table {
  font-family: $body-font;
  letter-spacing: 1px;
}

.tech-used {
  margin-right: 5px;
}

.latest-project {
  color: $white;
}

.carousel-item {
  text-align: center;
  float: none;
}
