@media screen and (max-width: 767px) {
  .hero-right {
    display: none;
  }
  .hero-left {
    width: 100vw;
  }
}

@media screen and (max-width: 575px) {
  .navbar-link {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 575px) {
  .navbar-icon {
    display: none;
  }
}
