@use "../abstracts" as *;

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.full-size {
  @extend %fullH;
  @extend %fullW;
}
.full-height {
  @extend %fullH;
}
.fill {
  width: 100%;
  height: 100%;
}

.heading-text {
  font-family: $heading-font;
  font-weight: 200;
}
.body-text {
  font-family: "Inter Tight", sans-serif;
}
