body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fill {
  width: 100%;
  height: 100%;
}

.headingText {
  font-family: "DM Serif Display", serif;
  font-weight: 200;
}

.bodyText {
  font-family: "Inter Tight", sans-serif;
}

.navbar {
  border-bottom: 1px solid black;
}
.navbarLink {
  text-decoration: none;
  color: gray;
}
.navbarHeading:hover,
.navbarLink:hover {
  scale: 1.1;
}
.navbarHeading {
  transition: 300ms;
}
.navContainer {
  height: 80px;
  position: absolute;
}

.heroLeft {
  height: 100vh;
  background-color: #161618;
  color: #f4f3f2;
  font-size: 50px;
}

.heroText span {
  text-shadow: 3px 3px 2px rgba(112, 63, 63, 1);
  display: inline-block;
  transition: transform 250ms;
}
.heroDev:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: linear-gradient(to bottom right, #72ffb6, #10d164);
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}
.heroPic {
  object-fit: cover;
  width: 100%;
  height: 80vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* When it turns into one section instead of two */
@media screen and (max-width: 767px) {
  .heroRight {
    display: none;
  }
}
/* Phones and small tablets */
@media screen and (max-width: 575px) {
  .navbarLink {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

/* Mostly computers and up. Bootstrap large*/
@media screen and (min-width: 991px) {
}
@media screen and (min-width: 768px) {
  .heroText span:hover {
    transform: translateY(-5px);
    transition: transform 250ms;
  }
  .heroDev:hover:after {
    width: 100%;
    left: 0;
    background: linear-gradient(to bottom right, #72ffb6, #10d164);
  }
  .heroPic:hover {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@media screen and (min-width: 575px) {
  .navbarIcon {
    display: none;
  }
}
